﻿@{
    ViewData["Title"] = "Add/Edit State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold" ">Add / Edit City</h4>
<hr>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">City Name </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder=" City Name" />
@*<span asp-validation-for="CountryName" class="text-danger"></span>*@
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">City Code </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder=" City Code" />
@*<span asp-validation-for="CountryCode" class="text-danger"></span>*@
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Select State</label>
        <div class="dropdown col-sm-8">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Select Country</label>
        <div class="dropdown col-sm-8">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}