﻿@using System.Data;
@model DataTable
<br />
<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">City List</h1>
    <hr />
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD City" asp-action="Add" asp-controller="LOC_City" asp-area="City">
    </div>
</form>
<br/>
<table class="table">
    <thead>
        <tr>
            @*<th scope="col">CityID</th>
            <th scope="col">StateID</th>*@
            <th scope="col">CityName </th>
            <th scope="col">CityCode </th>
            <th scope="col">CountryName</th>
            <th scope="col">StateName</th>
            <th scope="col">StateCode </th>
            <th scope="col">Created </th>
            <th scope="col">Modified </th>
            <th scope="col">Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @*<td>@dr["CityID"]</td>
                <td>@dr["StateID"]</td>*@
                <td>@dr["CityName"]</td>
                <td>@dr["CityCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>
                    <form >
                        @*<input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])">*@
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" >edit</a>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>