﻿@using System.Data
@model DataTable
@{
    ViewData["Title"] = " Country List ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">Country List</h1>
    <hr />
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD Country" asp-action="Add" asp-controller="LOC_Country" asp-area="Country">
    </div>
</form>

<br>

<table class="table">
    <thead>
        <tr>
            @*<th scope="col">CountryID</th>*@
            <th scope="col">CountryName</th>
            <th scope="col">CountryCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified At </th>
            <th scope="col">Actions </th>


        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @*<td>@dr["CountryID"]</td>*@
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("MM/dd/yyyy H:mm   ")</td>
                <td>
                    <form method="post" asp-controller="LOC_Country" asp-action="Delete">
                        <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])">
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" asp-controller="LOC_Country" asp-action="Add" asp-route-countryid="@Convert.ToInt32(dr["CountryID"])">edit</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@*@section Scripts{
<script>
    function displayPopUp(){
            Swal.fire({
                title: 'Do you want to save the changes?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Saved!', '', 'success')
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
    }
</script>
}*@